:root {
    --hyperlink-color: #2779b2;
}

.recent-pass-lib-list .file-item.selected {
    -fx-background-color: #ddd;
}

.recent-pass-lib-list .file-item {
    -fx-padding: 10;
}

.recent-pass-lib-list .file-item:hover {
    -fx-background-color: #eee;
}

.recent-pass-lib-list .file-name {
    -fx-font-weight: bold;
}

.recent-pass-lib-list .folder-path {
    -fx-text-fill: #999999;
}

.hyperlink {
    -fx-border-color: transparent;
}

.hyperlink, .hyperlink * {
    -fx-text-fill: #2779b2;
    -fx-icon-color: #2779b2;
}

.hyperlink:hover, .hyperlink:hover * {
    -fx-text-fill: #4197d3;
    -fx-icon-color: #4197d3;
}

.hyperlink:visited, .hyperlink:hover {
    -fx-underline: false;
}
